<section class="why-paws" id="about">
  <div class="container">
    <h2 class="why-paws__title">Чому Хатинка Лапок</h2>

    <div class="about-wrapper">
      <div class="swiper about-swiper">
        <div class="swiper-wrapper"></div>
      </div>

      <div class="why-paws-controls">
        <div class="swiper-pagination about-pagination"></div>
        <button class="about-btn-prev" type="button">
          <svg class="arrow-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-arrow-back"></use>
          </svg>
        </button>
        <button class="about-btn-next" type="button">
          <svg class="arrow-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
