<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Хатинка Лапок</title>

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  />

  <link rel="stylesheet" href="./src/css/about-us.css" />
</head>

<body>

  <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="1" viewBox="0 0 32 32">
<path d="M5.817 17.331l11.004 11.003c0.34 0.341 0.512 0.741 0.515 1.2s-0.164 0.861-0.503 1.204c-0.34 0.344-0.741 0.514-1.204 0.51s-0.865-0.176-1.207-0.516l-13.9-13.9c-0.182-0.184-0.314-0.375-0.397-0.574s-0.124-0.41-0.124-0.633 0.042-0.434 0.124-0.631c0.083-0.198 0.215-0.389 0.397-0.572l13.912-13.912c0.352-0.34 0.755-0.509 1.208-0.509s0.851 0.17 1.191 0.509c0.34 0.348 0.509 0.75 0.509 1.204s-0.17 0.853-0.509 1.195l-11.015 11.015h24.405c0.488 0 0.896 0.162 1.224 0.485s0.491 0.729 0.491 1.219-0.164 0.895-0.491 1.219c-0.328 0.323-0.736 0.485-1.224 0.485h-24.405z"></path>
</symbol>
<symbol id="2" viewBox="0 0 32 32">
<path d="M26.109 17.325h-24.405c-0.489 0-0.895-0.162-1.218-0.485s-0.485-0.73-0.485-1.219 0.162-0.895 0.485-1.219c0.323-0.323 0.729-0.485 1.218-0.485h24.405l-11.004-11.003c-0.34-0.34-0.512-0.74-0.517-1.202s0.163-0.863 0.504-1.204c0.341-0.343 0.742-0.512 1.204-0.508s0.865 0.176 1.207 0.515l13.9 13.9c0.182 0.184 0.314 0.375 0.397 0.574s0.125 0.41 0.125 0.633-0.042 0.433-0.125 0.631c-0.083 0.198-0.215 0.389-0.397 0.573l-13.912 13.9c-0.352 0.348-0.755 0.521-1.209 0.521s-0.851-0.175-1.191-0.524c-0.34-0.34-0.509-0.738-0.509-1.193s0.17-0.851 0.509-1.191l11.015-11.015z"></path>
</symbol>
</defs>
</svg>


  <main>
    <section class="why-paws">
      <h2 class="why-paws__title">Чому Хатинка Лапок</h2>

      <div class="swiper why-paws-slider">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img src="./src/img/about-us/1.jpg" class="slide-image" alt="Dog with a girl">
            <div class="slide-content">
                Все почалося у 2015 році з кількох небайдужих людей та одного врятованого собаки. Сьогодні ми — один з найбільших притулків у регіоні, але наша мета незмінна: дати другий шанс тим, кого зрадили.
            </div>
          </div>

          <div class="swiper-slide">
            <img src="./src/img/about-us/2.jpg" class="slide-image" alt="Dog">
            <div class="slide-content">
                Ми рятуємо, реабілітуємо та знаходимо люблячі родини для безпритульних тварин. Наша мета — не просто дати прихисток, а й забезпечити кожному "хвостику" щасливе та повноцінне життя в новій родині.
            </div>
          </div>

          <div class="swiper-slide">
            <img src="./src/img/about-us/3.jpg" class="slide-image" alt="Doctors with animal">
            <div class="slide-content">
                "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та десятків волонтерів, які щодня вкладають свою душу та час у турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя залежить від нас.
            </div>
          </div>

          <div class="swiper-slide">
            <img src="./src/img/about-us/4.jpg" class="slide-image" alt="Animal playground">
            <div class="slide-content">
                Ми створили безпечний та комфортний простір. Кожна тварина отримує якісне харчування, своєчасну ветеринарну допомогу, проходить соціалізацію та гуляє на спеціально обладнаних майданчиках.
            </div>
          </div>

          <div class="swiper-slide">
            <img src="./src/img/about-us/5.jpg" class="slide-image" alt="Woman hugging dog">
            <div class="slide-content">
                Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати волонтером, допомогти фінансово або інформаційно. Кожен маленький внесок наближає нас до великої мети — світу без безпритульних тварин.
            </div>
          </div>

        </div>
 
        <div class="a">
            <div class="swiper-buttons-mobile">
                <button class="swiper-button-prev">
                    <svg class="arrow-icon"><use href="#1"></use></svg>
                </button>
                <button class="swiper-button-next">
                    <svg class="arrow-icon"><use href="#2"></use></svg>
                </button>
            </div>

            <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="./src/js/about-us.js"></script>

</body>
</html>
