.no-scroll {
    overflow: hidden;
}

.modal-content {
    max-height: 90vh;
    overflow-y: auto;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    z-index: 1000;
}

.modal-backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 335px;
    max-height: 90vh;
    background-color: #fdfcf8;
    border-radius: 8px;
    overflow: hidden;
    background-color: #F6F4F1;
}

.modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.modal-close-icon {
    display: block;
}


.modal-content {
    max-height: 90vh;
    overflow-y: auto;
    padding: 64px 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.modal-category {
    font-size: 12px;
}

.modal-name {
    font-weight: 700;
    font-size: 32px;
    margin: 8px 0;
}

.modal-meta {
    font-size: 12px;
}

.modal-info h3 {
    font-weight: 600;
    margin-top: 24px;
}

.adopt-btn {
    margin-top: 16px;
    padding: 14px;
    width: 100%;
    border: 1px solid #88765C;
    border-radius: 12px;
    background-color: #88765C;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.adopt-btn:hover,
.adopt-btn:focus {
    background-color: #EEE9E3;
}

.adopt-btn:active {
    background-color: #EEE9E3;
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.adopt-btn:disabled {
    opacity: 0.3;
}

@media screen and (min-width: 768px) {

    .modal-backdrop {
        padding: 40px;
    }

    .modal {
        max-width: 704px;
        border-radius: 8px;
    }

    .modal-content {
        padding: 6px 32px;
    }

    .modal-body {
        display: flex;
        gap: 32px;
        align-items: flex-start;
    }

    .modal-img-wrapper,
    .modal-info {
        flex: 1 1 0;
    }

    .modal-img {
        width: 100%;
        height: 100%;
        max-height: 450px;
        object-fit: cover;
        border-radius: 16px;
    }

    .modal-info {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 1440px) {

    .modal-backdrop {
        padding: 80px;
    }

    .modal {
        max-width: 1312px;
        border-radius: 8px;
    }

    .modal-content {
        padding: 64px;
    }

    .modal-img-wrapper {
        flex: 0 0 520px;
    }

    .modal-img {
        max-height: 450px;
    }

    .modal-info {
        flex: 1;
    }

    .modal-name {
        font-size: 40px;
    }

}