html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #02060a;
  background-color: #f6f4f1;
}

.section {
  padding: 64px 0;
}

.footer {
  padding: 48px 0;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    padding: 80px 0;
  }

  .footer {
    padding: 64px 0;
  }

  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
