.page-header {
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.header-logo {
  display: flex;
  align-items: center;
  fill: #332c22;
}

.header-nav,
.header-container .take-pet-button {
  display: none;
}

.burger-button {
  padding: 0;
  border: none;
  background: transparent;
  fill: #02060a;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.take-pet-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #88765c;
  background: #88765c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  box-sizing: border-box;
  padding: 8px 20px;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.take-pet-button:hover,
.take-pet-button:focus {
  background-color: #eee9e3;
  color: #02060a;
}

.take-pet-button:active {
  transform: scale(0.96);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #02060a;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom: 1px solid #02060a;
}

.nav-link:active {
  color: #88765c;
  border-bottom: 1px solid #88765c;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f4f1;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

body.no-scroll {
  overflow: hidden;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.close-button {
  background: none;
  border: none;
  fill: #02060a;
  stroke: #02060a;
  stroke-width: 1px;
  cursor: pointer;

  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.menu-header-nav {
  padding: 40px 0 64px;
}

.menu-header-ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
}

.menu-take-wrapper {
  display: flex;
  justify-content: center;
}

.menu-take-wrapper .take-pet-button {
  display: flex;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .menu-take-wrapper .take-pet-button {
    width: 196px;
  }

  .menu-header-ul {
    text-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    height: 72px;
    justify-content: flex-start;
  }

  .burger-button {
    display: none;
  }

  .header-nav {
    display: flex;
    margin-right: auto;
    margin-left: 24px;
  }

  .header-ul {
    display: flex;
    gap: 32px;
    list-style: none;
  }

  .header-container .take-pet-button {
    display: flex;
    margin-left: auto;
  }
}
