button {
  font-family: inherit;
  cursor: pointer;
}

.pets {
  padding-top: 64px;
  padding-bottom: 32px;
}

.pets-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}

.pets-subtitle {
  text-align: center;
  margin-bottom: 32px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 579px;
  margin: 0 auto 32px auto;
}

.filter-btn {
  border-radius: 100px;
  padding: 10px 16px;
  min-width: 53px;
  min-height: 41px;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: #eae7e1;
  outline: none;
}

.filter-btn.active {
  background-color: #eee9e3;
  font-weight: 500;
}

.filter-btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

.pets-list-wrapper {
  position: relative;
}

.pets-list-wrapper.is-loading .pets-list {
  filter: blur(4px);
  opacity: 0.5;
  pointer-events: none;
  transition: filter 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
    opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.pets-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.pet-card {
  background-color: #eee9e3;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.pet-card img {
  width: 100%;
  height: 245px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.pet-type {
  font-size: 10px;
  line-height: 1.5;
  margin-bottom: 4px;
}

.pet-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 4px;
}

.pet-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;
}

.pet-tag {
  background-color: rgba(2, 6, 10, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 4px 10px;
  border-radius: 100px;
  font-size: 10px;
  font-weight: 600;
}

.pet-meta {
  font-size: 10px;
  margin-bottom: 16px;
}

.pet-desc {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.pet-btn {
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid #02060a;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.5;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.load-more {
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #88765c;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-color: #88765c;
}

.load-more.hidden {
  display: none;
}

.pet-btn:hover,
.pet-btn:focus-visible {
  background-color: #c3b49d;
  outline: none;
}
.load-more:hover,
.load-more:focus-visible {
  background-color: #eee9e3;
  color: #02060a;
}

.pet-btn:active {
  background-color: #88765c;
}
.load-more:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #eee9e3;
  color: #02060a;
}

.pet-btn:disabled {
  background-color: #f6f4f1;
  color: #999;
  border-color: #ddd;
  cursor: not-allowed;
}
.load-more:disabled {
  background-color: #88765c;
  color: #999;
  border-color: #ddd;
  cursor: not-allowed;
}

.load-more {
  display: block;
  margin: 32px auto 0;
}

@media screen and (min-width: 768px) {
  .pets-title {
    font-size: 36px;
  }

  .pets-list {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  .pet-card img {
    height: 246px;
  }

  .pet-btn {
    margin-top: auto;
  }
}

@media screen and (min-width: 1440px) {
  .pets {
    padding-top: 80px;
  }

  .pets-title {
    font-size: 48px;
  }

  .pets-subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .filters {
    max-width: 1280px;
  }

  .pets-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pet-name {
    font-size: 24px;
  }

  .pet-card img {
    height: 309px;
  }

  .pet-tags {
    margin-bottom: 46px;
  }
  .pet-type,
  .pet-tag,
  .pet-meta {
    font-size: 12px;
  }
  .pet-desc {
    font-size: 14px;
  }

  .pet-btn {
    font-size: 16px;
    margin-top: auto;
  }
}

/* LOADER */

.loader-pets.hidden {
  display: none;
}

.loader-pets {
  width: 48px;
  height: 48px;
  border: 3px dotted #c3b49d;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.loader-pets::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
