.top {
  position: fixed;
  bottom: 50px;
  right: 1%;
  outline: none;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  transition: background-color, box-shadow, 350ms ease-in-out;
}

.top:hover {
  background-color: #c3b49d;
}

.top:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.top > svg {
  display: block;
}

.top.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .top {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .top {
    right: calc((100vw - min(100%, 768px)) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .top {
    right: calc((90vw - min(100%, 1440px)) / 2);
    padding: 10px;
  }
}
