@import url('./reset.css');
@import url('./container.css');
/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./pets-list.css');
@import url('./about-us.css');
@import url('./FAQ.css');
@import url('./success-stories.css');
@import url('./footer.css');
/* Modal windows style */
@import url('./animal-details-modal.css');
@import url('./order-modal.css');
