.success-stories {
  padding: 64px 0;
}

@media screen and (min-width: 1440px) {
  .success-stories {
    padding: 80px 0;
  }
}

.swiper-stories {
  margin-bottom: 40px;
}

.success-stories-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .success-stories-title {
    font-size: 48px;
    width: 724px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.success-stories-subtitle {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .success-stories-subtitle {
    font-size: 18px;
  }
}

.story-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.stories-descr {
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (min-width: 1440px) {
  .stories-descr {
    font-size: 20px;
  }
}

.stories-author {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin-top: auto;
}

@media screen and (min-width: 1440px) {
  .stories-author {
    font-size: 16px;
  }
}

.stories-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.stories-controls .swiper-button-prev,
.stories-controls .swiper-button-next {
  width: 48px;
  height: 48px;
  border: 1px solid #c3b49d;
  border-radius: 8px;
  padding: 12px;
  background-color: #eee9e3;
  color: #02060a;
  position: static;
  margin: 0;
  transition: all 0.2s ease;
}

@media screen and (min-width: 1440px) {
  .stories-controls .swiper-button-prev:hover,
  .stories-controls .swiper-button-next:hover {
    border: 1px solid rgba(2, 6, 10, 0.6);
  }

  .stories-controls .swiper-button-prev:focus-visible,
  .stories-controls .swiper-button-next:focus-visible {
    outline: none;
    border: 1px solid rgba(2, 6, 10, 0.6);
  }

  .stories-controls .swiper-button-prev:active,
  .stories-controls .swiper-button-next:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
      inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  }
}

.stories-controls .swiper-button-disabled {
  border: 1px solid #f6f4f1;
}

.stories-controls .swiper-button-prev svg,
.stories-controls .swiper-button-next svg {
  width: 16px;
  height: 16px;
  stroke: #02060a;
}

.stories-controls .swiper-pagination {
  position: static;
  margin-right: auto;
  margin-left: 36px;
}

.stories-controls .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #02060a;
}

.swiper-stories .swiper-slide {
  height: auto;
  display: flex;
}

.stories-rate {
  display: flex;
}
